@import url(font-awesome/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(button.css);
html{
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(120deg, #198f93 0%, #73f2dd 100%);
  margin: 0;
}
body::-webkit-scrollbar{
  width: 0;
}
.corp{
  position: absolute;
  width: auto;
  height: auto;
  padding: 0 15px 15px 15px;
  border-radius: 0 0 25px 25px;
  background-image: linear-gradient(120deg, #198f93 0%, #73f2dd 100%);
  top: -5px;
  right: 20px;
  text-align: center;
}
.corp h1{
  margin: auto;
}
.holder {
  margin: auto;
  position:relative;
  width:100%;
  height:100%;
  display: block;
}
.test{
  overflow: hidden;
  position: absolute;
  /*width: 34%;*/
  /*width: 40%;*/
  min-width: 500px;
  width: 34%;
  max-width: 500px;
  min-height: 500px;
  height: 500px;
  max-height: 500px;
  border: 2px solid black;
  left: 33%;
  top: 10%;
  /*box-sizing: border-box;*/
  border-radius: 50%;
  cursor: move;
}
.test:before{
  content: "";
  background-image: url('../img/truck1.jpg');
  background-position-y: -145px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 110%;
  height: 110%;
  z-index: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

#layer-1 {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  /*-ms-animation-name: spin;*/
  /*-ms-animation-duration: 4000ms;*/
  /*-ms-animation-iteration-count: infinite;*/
  /*-ms-animation-timing-function: linear;*/


  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.shape-4, .shape-5, .shape-6 {

}
.shape-1, .shape-4 {
  opacity: 0.2;
}
.shape-2, .shape-5 {
  opacity: 0.5;
}
.shape-3, .shape-6 {
  opacity: 0.5;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 46px;
  letter-spacing: -3.5px;
  color: #fff;
}
hr{
  width: 100px;
  height: 5px;
  background-color: white;
}
.holder h1{
  position: absolute;
  top:36%;
  left:28%;
  z-index: 2;
  margin-left: 45px;
  text-align: center;
}
h1 span {
  color: #198f93;
}
.wrapper {
  height: 100vh;
}
.parallax-img {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  margin: 15px;
  font-size: 1.1rem;
  text-shadow: 2px 2px 2px #000000;
  color: white;
}
.first{
  min-height: 730px;
  height: 730px;
  background-image: url('../img/truck1.jpg');
}
.img1{
  float: right;
  margin-right: 35px;
}
/*.post{*/
/*  padding-top: 20px;*/
/*  padding-bottom: 20px;*/
/*  padding-left: 45px;*/
/*}*/
.second{
  background-image: url('../img/truck2.jpg');
  min-height: 730px;
  height: 730px;
}
.parent{
  min-height: 730px;
  height: 730px;
}
.third{
  background-image: linear-gradient(120deg, #198f93 0%, #73f2dd 100%);
  min-height: 730px;
  height: 730px;
}
.fourth{
  background-image: url('../img/truck3.jpg');
  min-height: 730px;
  height: 730px;
}
.background_post{
  min-width: 670px;
  width: 670px;
  min-height: 650px;
  height:650px;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 27.5%;
  margin-top: 20px;
  border: 2px black solid;
}
.background_post:before{
  content: "";
  background-image: url('../img/truck2.jpg');
  background-position-y: -145px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 110%;
  height: 110%;
  z-index: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.post{
  z-index: 2;
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
.post p{
  text-align: left;
}
.button{
  background-color: #efefef;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 3px;
}
.background_box_calc{
  min-width: 670px;
  width: 670px;
  min-height: 650px;
  height:650px;
  display: block;
  overflow: hidden;
  position: relative;
  left: 27.5%;
  bottom: 95%;
  border: 2px black solid;
}
.background_box_calc:before{
  content: "";
  background-image: url('../img/truck3.jpg');
  background-position-y: -145px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 110%;
  height: 110%;
  z-index: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.box_calc{
  z-index: 2;
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
.box_calc iframe{
  display: block;
  margin: auto;
}
.contact{
  width: 4%;
  height: 30%;
  left: 0;
  top: 35%;
  background-color: #198f93;
  position: fixed;
  border-radius: 0 50% 50% 0;
  z-index: 50;
  padding-top: 3.5%;
}
.social a {
  text-align: center;
  width: 70%;
  height: 40px;
  float: left;
  font-size: 75%;
  background: #000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
  border-radius: 46px;
  margin: 10%;
  color: white;
  z-index: 100;
}
.vk a{
  padding: 7px 10px 15px 7px;
  background: #4c75a3;
  color: white;
}
.phone a{
  padding: 10px 7px 15px 7px;
  background: #000;
  color: white;
}
.social a:hover {background: #198f93;}
